services:
  follower1:
    build: .
    environment:
    - ROLE=follower
    - PORT=8001
    ports:
    - 8001:8001
  follower2:
    build: .
    environment:
    - ROLE=follower
    - PORT=8002
    ports:
    - 8002:8002
  follower3:
    build: .
    environment:
    - ROLE=follower
    - PORT=8003
    ports:
    - 8003:8003
  follower4:
    build: .
    environment:
    - ROLE=follower
    - PORT=8004
    ports:
    - 8004:8004
  follower5:
    build: .
    environment:
    - ROLE=follower
    - PORT=8005
    ports:
    - 8005:8005
  leader:
    build: .
    depends_on:
    - follower1
    - follower2
    - follower3
    - follower4
    - follower5
    environment:
    - ROLE=leader
    - PORT=8000
    - FOLLOWERS=follower1:8001,follower2:8002,follower3:8003,follower4:8004,follower5:8005
    - WRITE_QUORUM=3
    - MIN_DELAY=0.0001
    - MAX_DELAY=0.001
    ports:
    - 8000:8000
version: '3'
