body {
    background: #f7f7f9;
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0; padding: 0;
}
.container {
    max-width: 650px;
    background: #fff;
    margin: 40px auto;
    border-radius: 16px;
    box-shadow: 0 6px 24px rgba(0,0,0,0.07);
    padding: 2rem 2.5rem 2.5rem 2.5rem;
}
h1 {
    color: #0a467e;
    letter-spacing: 1px;
}
img {
    display: block;
    max-width: 100%;
    margin: 20px auto 24px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.11);
}
ul {
    list-style: none;
    padding: 0;
}
li {
    margin: 18px 0 0 0;
}
a.file-link {
    display: inline-block;
    padding: 9px 18px;
    border-radius: 6px;
    color: #fff;
    background: #0a467e;
    text-decoration: none;
    font-weight:500;
    transition: background 0.2s;
}
a.file-link:hover {
    background: #28a745;
}
.pdf-list {
    margin: 32px 0 0 0;
}
.back-button {

    top: 50px;
    left: 335px;
    color: #0a467e;
    font-weight: 500;
    text-decoration: none;
    border: none;
    font-size: 1.1em;
    transition: background 0.2s;
}
.back-button:hover {
    color: #28a745;
}
.error-box {
            max-width: 650px;
            background: #fff;
            margin: 40px auto;
            border-radius: 16px;
            box-shadow: 0 6px 24px rgba(0,0,0,0.07);
            padding: 2rem 2.5rem 2.5rem 2.5rem;
            text-align: center;
        }
.error-code {
    font-size: 5em;
    color: #0a467e;
    font-weight: bold;
    letter-spacing: 8px;
}
.error-msg {
    font-size: 1.5em;
    margin-bottom: 1.2em;
}
.error-sub {
    color: #888;
    margin-bottom: 2em;
}
.error-back-button {
    background: inherit;
    color: #0a467e;
    font-weight: 500;
    text-decoration: none;
    border: none;
    font-size: 1.1em;
    padding: 0.7em 2em;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.11);
    cursor: pointer;
    margin-top: 1em;
}
.error-back-button:hover {
    color: #28a745;
}